<footer class="footer">
  <h3 class="visually-hidden">Focus Frame</h3>
  <div class="footer-container container">
    <div class="footer-top">
      <div class="footer-info">
        <div class="footer-logo">
          <a class="footer-link-logo" href="">
            <svg class="footer-logo-icon" width="127" height="20">
              <use href="./img/icons.svg#icon-logo"></use>
            </svg>
          </a>
        </div>
        <div class="footer-address-wrap" id="contact">
          <address class="footer-address">
            <ul class="footer-address-list">
              <li class="footer-address-item footer-address-number">
                <a class="footer-address-link" href="tel:+380665438912"
                  >UK: +38 066 543 8912</a
                >
              </li>
              <li class="footer-address-item">
                <a class="footer-address-link">Ukraine, Kyiv</a>
              </li>
            </ul>
          </address>
        </div>
      </div>
      <div class="footer-top-nav">
        <div class="footer-soc-wrap">
          <ul class="footer-soc-list">
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                >INSTAGRAM</a
              >
            </li>
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                >FACEBOOK</a
              >
            </li>
            <li class="footer-soc-item">
              <a
                class="footer-soc-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                >YOUTUBE</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-navigation-wrap">
          <nav class="footer-navigation">
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a class="footer-menu-link" href="#about">ABOUT US</a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link" href="#courses">OUR COURSES</a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link" href="#mentors">OUR MENTORS</a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link" href="#reviews">REVIEWS</a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link" href="#contacts">CONTACTS</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <form class="footer-form">
        <input
          type="email"
          class="footer-input"
          placeholder="Enter your email"
          aria-label="email input"
        />
        <button type="submit" class="footer-form-btn">Go</button>
      </form>
    </div>
    <div class="footer-bottom">
      <p class="footer-text">
        Privacy Policy <br />
        Public Offering Agreement
      </p>
      <p class="footer-subtext">
        2023 Focus Frame<br />
        © All rights reserved
      </p>
    </div>
  </div>
</footer>
