<section class="hero">
    <div class="hero-container">
        <div class="hero-title-txt">
        <h1 class="hero-title"> Discover the magic of <span class="hero-title-ph">photography</span> in our school</h1>
        <a class="hero-txt">Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical skills, translate your unique ideas.</a>
        </div>
            <img class="hero-img" 
            srcset="
                    /img/hero/hero-main-mob.jpg 1x,
                    /img/hero/hero-main-mob-2x.jpg 2x"
            src="/img/hero/hero-main-mob.jpg" 
            alt="camera" width="259" height="314">
    </div>
</section>
<!-- <picture>
    <source 
    srcset="./images/img1des.jpg 1x, ./images/img1des-2x.jpg 2x"
    media="(min-width:1158px)"
    >
    <source 
    srcset="./images/img1tab.jpg 1x, ./images/img1tab-2x.jpg 2x"
    media="(min-width:768px)"
    >
    <source 
    srcset="./images/img1mob.jpg 1x, ./images/img1mob-2x.jpg 2x"
    media="(max-width:767px)"
    >
    <img src="./images/img1mob.jpg" 
    alt="fiolet"
    width="360"
    height="300"
    class="our-portfolio-cover-wrap-img">
</picture> -->