<!-- Our-courses -->

<section class="our-courses-section">
  <div class="container">
    <div class="our-courses-text-block">
      <h2 class="our-courses-title">
        Our <span class="our-courses-title-accent">Courses</span>
      </h2>
      <p class="our-courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="our-courses-list-card">
      <li class="our-courses-card">
        <div class="our-courses-card-block">
          <p class="our-courses-block-text">01</p>
          <a class="our-courses-block-link" href="" target="_blank">
            <svg class="our-courses-block-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <h3 class="our-courses-card-title">Basics of photography</h3>
        <p class="our-courses-card-text">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>

      <li class="our-courses-card">
        <div class="our-courses-card-block">
          <p class="our-courses-block-text">02</p>
          <a class="our-courses-block-link" href="" target="_blank">
            <svg class="our-courses-block-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <h3 class="our-courses-card-title">Landscape photography</h3>
        <p class="our-courses-card-text">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>

      <li class="our-courses-card">
        <div class="our-courses-card-block">
          <p class="our-courses-block-text">03</p>
          <a class="our-courses-block-link" href="" target="_blank">
            <svg class="our-courses-block-icon" width="32" height="32">
              <use href="./img/icons.svg#icon-arrow-narrow-up-right"></use>
            </svg>
          </a>
        </div>
        <h3 class="our-courses-card-title">Portrait photography</h3>
        <p class="our-courses-card-text">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>
