<section class="our-mentors" id="mentors">
     <div class="our-mentors-container"> 
        <h2 class="our-mentors-title">Our<span class="our-mentors-title-part">Mentors</span></h2>
       <ul class="our-mentors-list">
      <li class="our-mentors-pic">
        <img srcset="./img/our-mentors/EmiliaSmith-2x.jpg"
        src="./img/our-mentors/EmiliaSmith-1x.jpg" 
        alt="Emilia Smith" width="180" height="180" class="our-mentors-img">
        <div class="team-person">
        <h3 class="our-mentors-person">Emilia Smith</h3>
        <p class="our-mentors-person-text">
          1.5 years of experience
        </p>
      </div>
      </li>
      <li class="our-mentors-pic">
        <img  srcset="./img/our-mentors/AlexLebedev-2x.jpg"
        src="./img/our-mentors/AlexLebedev-1x.jpg"  alt="Alex Lebedev" width="180" height="180" 
        class="our-mentors-img">
        <div class="team-person">
        <h3 class="our-mentors-person">Alex Lebedev</h3>
        <p class="our-mentors-person-text">
          3.5 years of experience
        </p>
       </div>
      </li>
      <li class="our-mentors-pic">
        <img srcset="./img/our-mentors/MiaDubrovska-2x.jpg" 
        src="./img/our-mentors/MiaDubrovska-1x.jpg"  alt="Mia Dubrovska" width="180" height="180" class="our-mentors-img" />
        <div class="team-person">
        <h3 class="our-mentors-person">Mia Dubrovska</h3>
        <p class="our-mentors-person-text">
          2.0 years of experience
        </p>
      </div>
      </li>
      <li class="our-mentors-pic">
        <img srcset="./img/our-mentors/EliotKovalev-2x.jpg"
        src="./img/our-mentors/EliotKovalev-1x.jpg"  alt="Eliot Kovalev" width="180" height="180" class="our-mentors-img" />
        <div class="team-person">
        <h3 class="our-mentors-person">Eliot Kovalev</h3>
        <p class="our-mentors-person-text">
          4.0 years of experience
        </p>
        </div>
      </li>
    </ul>
  </div>
  </section>
  
     