<!--Section Our Mentors--> 
<section class="our-mentors">
    <div class="container">
      <h2 class="our-mentors-title">Our <span class="our-mentors-title-part-two">Team</span></h2>
      <ul class="main-content-team-list">
        <li class="main-content-team-pic">
            <img srcset="
            ./img/girl-1-1x.png 1x
            ./img/girl-1-2x.png 2x
            " src="./img/girl-1-1x.png" alt="Emilia Smith">
            <div class="team-person">
                <h3 class="main-content-team-person">Emilia Smith</h3>
                <p class="main-content-team-person-practice">1.5 years of experience</p>
            </div>
        </li>
        <li class="main-content-team-pic">
            <img srcset="
            ./img/boy-1-1px.png 1x
            ./img/boy-1-2x.png 2x
            " src="./img/boy-1-1px.png" alt="Alex Lebedev">
            <div class="team-person">
                <h3 class="main-content-team-person">Alex Lebedev</h3>
                <p class="main-content-team-person-practice">3.5 years of experience</p>
            </div>
        </li>
        <li class="main-content-team-pic">
            <img srcset="
            ./img/girl-2-1xpng.png
            ./img/girl-2-2x.png
            " src="./img/girl-2-1xpng.png" alt="Mia Dubrovska">
            <div class="team-person">
                <h3 class="main-content-team-person">Mia Dubrovska</h3>
                <p class="main-content-team-person-practice">2.0 years of experience</p>
            </div>
        </li>
        <li class="main-content-team-pic">
            <img srcset="
            ./img/boy-2-1px.png
            ./img/boy-2-2x.png
            " src="./img/boy-2-1px.png" alt="Eliot Kovalev">
            <div class="team-person">
                <h3 class="main-content-team-person">Eliot Kovalev</h3>
                <p class="main-content-team-person-practice">Eliot Kovalev</p>
            </div>
        </li>
      </ul>
     </div> 
</section>