<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <!-- container1 -->
    <div class="reviews-container">
      <div class="reviews-box-top-star">
        <ul class="reviews-liat-star">
          <li>
            <div class="reviews-box-top">
              <img src="" alt="" />
              <h3 class="reviews-subtitle">Abraham Baker</h3>
              <p class="reviews-list-text">Student</p>
            </div>
            <div class="reviews-star">
              <ul class="reviews-list-icon">
                <li class="reviews-icon-item">
                  <svg class="" width="20" height="20">
                    <use href="../img/icons.svg#icon-star-3"></use>
                  </svg>
                </li>
                <li class="reviews-icon-item">
                  <svg class="" width="20" height="20">
                    <use href="../img/icons.svg#icon-star-3"></use>
                  </svg>
                </li>
                <li class="reviews-icon-item">
                  <svg class="" width="20" height="20">
                    <use href="../img/icons.svg#icon-star-3"></use>
                  </svg>
                </li>
                <li class="reviews-icon-item">
                  <svg class="" width="20" height="20">
                    <use href="../img/icons.svg#icon-star-3"></use>
                  </svg>
                </li>
                <li class="reviews-icon-item-five">
                  <svg class="" width="20" height="20">
                    <use href="../img/icons.svg#icon-star-3"></use>
                  </svg>
                </li>
              </ul>
              <p class="reviews-text">
                I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented
                and
                experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my
                skills and
                discover my own style.
              </p>
      </div>
      
    </div>
   
<!-- container2 -->
  <div class="reviews-container">
    <div class="reviews-box-top-star">
      <ul class="reviews-liat-star">
        <li>
          <div class="reviews-box-top">
            <img src="" alt="" />
            <h3 class="reviews-subtitle">Amanda Lowery</h3>
            <p class="reviews-list-text">Student</p>
          </div>
          <div class="reviews-star">
            <ul class="reviews-list-icon">
              <li class="reviews-icon-item">
                <svg class="" width="20" height="20">
                  <use href="../img/icons.svg#icon-star-3"></use>
                </svg>
              </li>
              <li class="reviews-icon-item">
                <svg class="" width="20" height="20">
                  <use href="../img/icons.svg#icon-star-3"></use>
                </svg>
              </li>
              <li class="reviews-icon-item">
                <svg class="" width="20" height="20">
                  <use href="../img/icons.svg#icon-star-3"></use>
                </svg>
              </li>
              <li class="reviews-icon-item">
                <svg class="" width="20" height="20">
                  <use href="../img/icons.svg#icon-star-3"></use>
                </svg>
              </li>
              <li class="reviews-icon-item-five">
                <svg class="" width="20" height="20">
                  <use href="../img/icons.svg#icon-star-3"></use>
                </svg>
              </li>
            </ul>
            <p class="reviews-text">
            The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also
            inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand
            different styles of photography.
            </p>
          </div>
        </div>
    </div>
  </div>





  </div>
</section>

