<section class="reviews">
 <div class="container">
  <h2 class="reviews-title">Reviews</h2>
  <div class="reviews-container">
    <!-- box-1 -->
    <div class="reviews-box">
      <div class="reviews-user">
        <div class="img-user">
          <img class="img" src="../img/reviews/user-x1.jpg" alt="user1">
        </div>
        <div class="reviews-subtitle">
          <h3 class="reviews-user-name">Abraham Baker</h3>
          <p class="reviews-user">Student</p>
        </div>
      <!-- </div> -->
      <div class="reviews-star">
        <ul class="reviews-star-list">
          <li>
            <svg class="reviews-icon-item" width="20" height="20">
              <use href="../img/icons.svg#icon-star-3"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-icon-item" width="20" height="20">
              <use href="../img/icons.svg#icon-star-3"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-icon-item" width="20" height="20">
              <use href="../img/icons.svg#icon-star-3"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-icon-item" width="20" height="20">
              <use href="../img/icons.svg#icon-star-3"></use>
            </svg>
          </li>
          <li>
            <svg class="reviews-icon-item-five" width="20" height="20">
              <use href="../img/icons.svg#icon-star-3"></use>
            </svg>
          </li>
        </ul>
        </div>
      </div>
      <p class="reviews-text">
        I am very pleased that I decided to enroll in photography school. The teachers turned out to be very talented and
        experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my skills and
        discover my own style.
      </p>
    </div>

    <!-- box-2 -->
    <div class="reviews-box">
      <div class="reviews-user">
        <div class="img-user">
          <img class="img" src="../img/reviews/Amanda-x1.jpg" alt="user2">
        </div>
        <div class="reviews-subtitle">
          <h3 class="reviews-user-name">Amanda Lowery</h3>
          <p class="reviews-user">Student</p>
        </div>
        <!-- </div> -->
        <div class="reviews-star">
          <ul class="reviews-star-list">
            <li>
              <svg class="reviews-icon-item" width="20" height="20">
                <use href="../img/icons.svg#icon-star-3"></use>
              </svg>
            </li>
            <li>
              <svg class="reviews-icon-item" width="20" height="20">
                <use href="../img/icons.svg#icon-star-3"></use>
              </svg>
            </li>
            <li>
              <svg class="reviews-icon-item" width="20" height="20">
                <use href="../img/icons.svg#icon-star-3"></use>
              </svg>
            </li>
            <li>
              <svg class="reviews-icon-item" width="20" height="20">
                <use href="../img/icons.svg#icon-star-3"></use>
              </svg>
            </li>
            <li>
              <svg class="reviews-icon-item-five" width="20" height="20">
                <use href="../img/icons.svg#icon-star-3"></use>
              </svg>
            </li>
          </ul>
        </div>
        
      </div>
      <p class="reviews-text">
        The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also
      inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand
      different styles of photography.
    </p>
    </div>
    </div>

  </div>
  

 </div>
</section>




