body {
  font-family: 'DM Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  flex-grow: 1;
}

.about-us-section {
  /* background-color: aqua; */
  background: var(--black, #121212);
  padding: 80px 0;
}

@media only screen and (min-width: 768px) {
  .about_us {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 1110px) {
  .about_us {
    padding: 150px 0;
  }
}

/* виправити */
.container-about {
  width: 100%;
  margin: 0 auto;
}

/* Mobile */
@media only screen and (min-width: 375px) {
  .container-about {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .container-about {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

/* виправити padding and max-width*/
/* Desktop */
@media only screen and (min-width: 1110px) {
  .container-about {
    max-width: 1110px;
    /* margin: 0 auto; */
    padding: 0 15px;
  }
}

.about-title {
  color: #fff;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  text-align: start;
  font-weight: 500;
  line-height: 1.14;
  /* 114.286% */
  letter-spacing: -0.04em;
  /* -1.12px */
  padding-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .about-title {
    padding-bottom: 50px;
  }
}

.about-title-us {
  text-align: center;
  color: #bea69e;
  font-family: DM Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.04em;
  /* letter-spacing: -1.12em; */
}

@media only screen and (min-width: 1110px) {
  .about-us-info {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.img-about {
  /* width: auto; */
  height: auto;
  /* transform: rotate(-90deg); */
  border-radius: 1000px;
  background: url(<path-to-image>),
    lightgray -16301954001208846px -514168741151723400px / 670326570992920700% 330827669314972600% no-repeat;
  display: block;
  margin: 0 auto;
}

/* Mobile */
@media only screen and (min-width: 375px) and (max-width: 767.98px) {
  .img-about {
    width: 335px;
    height: 209px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .img-about {
    width: 704px;
    height: 340px;
  }
}

@media only screen and (min-width: 1110px) {
  .img-about {
    width: 488px;
    height: 260px;
    margin-right: 40px;
  }
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 40px;
}

@media only screen and (min-width: 768px) {
  .about-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 1110px) {
  .about-list {
    padding-top: 0;
    gap: 20px;
  }
}

.about-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
}

.p-about {
  color: var(--white, #fff);
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  /* 128.571% */
  letter-spacing: -0.02em;
  /* -0.28px */
  width: 100%;
}

@media only screen and (min-width: 375px) {
  .p-about-one {
    width: 335px;
    /* height: auto; */
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .p-about-one {
    width: 280px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    /* height: auto; */
  }
}

@media only screen and (min-width: 1110px) {
  .p-about-one {
    width: 268px;
    /* height: auto; */
  }
}

@media only screen and (min-width: 375px) {
  .p-about-two {
    width: 335px;
    height: 127px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .p-about-two {
    width: 280px;
    height: 215px;
  }
}

@media only screen and (min-width: 1110px) {
  .p-about-two {
    width: 276px;
    height: 215px;
  }
}