/* Reset styles */
body {
  font-family: 'DM Sans', sans-serif;
  color: #fff;
  background-color: #121212;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.background-wrapper {
  background-image: url(../img/Graphic/Graphic-mob-min.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background-wrapper {
    background-image: url(../img/Graphic/Graphic-mob-x2-min.png);
  }
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .background-wrapper {
    background-image: url(../img/Graphic/Graphic-tab-min.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-wrapper {
      background-image: url(../img/Graphic/Graphic-tab-x2-min.png);
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .background-wrapper {
    background-image: url(../img/Graphic/Graphic-1280-min.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-wrapper {
      background-image: url(../img/Graphic/Graphic-1280-x2-min.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  .background-wrapper {
    background-image: url(../img/Graphic/Graphic-1440-x2-min.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: transparent;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .background-wrapper {
      background-image: url(../img/Graphic/Graphic-1440-x2-min.png);
    }
  }
}
